<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel='stylesheet' href='{{ url_for("static", filename="style4.css") }}'></link>
</head>
</head>
<body>
    <h1>Star Inc est le groupe derriere Runner Frenzy. Compose de 3 membres : Novak Sebastian, Clement Dujardin Duribreux et Florent Dujardin Duribreux, Star Inc est createur de jeux avec passion !</h1>
</body>
</html>